/*
 * Styles for print display
 * Reset based on gutenberg.css | MIT Fabien Sa
 * @see: https://github.com/BafS/Gutenberg
 * @author: Torsten Schrade
 */

/* ########################################## RESET ########################################## */

html {
    margin: 0;
    padding: 0
    font-family: RomanaEF-Book, Tinos, Times, "Times New Roman", serif;
    font-size: 16px;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 30px;
    background: #fff !important;
    color: #000 !important;
    font-size: 16px;
    font-family: RomanaEF-Book, Tinos, Times, "Times New Roman", serif;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

article,
aside,
footer,
header,
nav,
section,
mainz {
    display: block
}

figcaption,
figure {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

b,
strong {
    font-weight: 700;
}

code,
kbd,
samp {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

sub,
sup {
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -6px;
}

sub {
    top: 6px;
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

input {
    overflow: visible
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

details {
    display: block
}

summary {
    display: list-item
}

menu {
    display: block
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*,
*:before,
*:after,
p:first-letter,
div:first-letter,
blockquote:first-letter,
li:first-letter,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important
}

a,
a:visited {
    color: #000;
    word-wrap: break-word
}

::-webkit-input-placeholder {
    color: transparent
}

:-moz-placeholder {
    color: transparent
}

::-moz-placeholder {
    color: transparent
}

:-ms-input-placeholder {
    color: transparent
}

img {
    border: 0;
    display: block;
    max-width: 100% !important;
    vertical-align: middle
}

hr {
    border: 0;
    border-bottom: 2px solid #000;
    height: 0;
    margin: 2.25rem 0;
    padding: 0
}

abbr[title],
acronym[title] {
    border: 0;
    text-decoration: none
}

blockquote,
pre,
code,
figure {
    page-break-inside: avoid
}

h2,
h3,
h4,
p,
a {
    orphans: 3;
    widows: 3
}

h1,
h2,
h3,
h4,
h5,
h6 {
    page-break-after: avoid;
    page-break-inside: avoid
}

h1 + p,
h2 + p,
h3 + p {
    page-break-before: avoid
}

img {
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid
}

pre {
    white-space: pre-wrap !important;
    word-wrap: break-word
}

/* ########################################## STURM ########################################## */

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.4rem;
    margin: 1rem 0 0.1em 0;
}

h2 {
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
}

h3 {
    font-size: 1.6rem;
    margin: 1rem 0 1rem 0;
}

.department h3 {
    letter-spacing: 0.01em;
}

h4 {
    font-size: 1.4rem;
    margin: 1rem 0 1rem 0;
}

h5 {
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
}

h5.salute {
    position: relative;
    top: -3px;
}

footer h5 {
    font-size: 1rem;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
}

p,
blockquote,
li, dt, dd,
label, legend, input, select, textarea,
caption, th, td,
address,
.date,
.text {
    font-size: 1rem;
    line-height: 1.3rem;
}

.button, 
.footnotes li, 
.postscript:before,
.pb {
    font-size: 0.8rem;
}

sup, sub {
    font-size: 0.6rem;
}

.footnotes li {
    font-size: 0.8rem;
    line-height: 1;
}

footer * {
    font-size: 0.8rem;
    line-height: 1;
}

.info p {
    font-size: 0.8rem;
    line-height: 1;
}

.info li {
    font-size: 0.8rem;
    line-height: 1;
}

code {
    font-size: 0.8rem;
    line-height: 1;
}

p + cite {
    display: block;
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
    margin-top: -1rem;
    line-height: 1;
}

.doi, .orcid {
    font-size: 0.8rem;
    line-height: 1;
}

/* HEADER */

.header {
    margin-bottom: 30px;
    border-bottom: 3px solid black;
    padding-bottom: 2px;
}

.header a {
    border-bottom: none;
}

.branding {
    border-bottom: 2px solid black;
}

.title {
    font-family: RomanaEF-Book, Ramaraja, Tinos, Times, "Times New Roman", serif;
    font-size: 120px;
    font-weight: normal;
    line-height: 0.9;
    letter-spacing: -0.03em;
    margin: 0;
    border-bottom: 2px solid black;
    text-align: center !important;
}

.subtitle {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1;
    margin: 2px auto 6px auto;
    border-top: 3px solid black;
    padding-top: 10px;
    text-align: center !important;
}

.tight {
    letter-spacing: -0.07em;
}

.tighter {
    letter-spacing: -0.09em;
}

p,
blockquote,
figcaption,
.content .info * {
    text-align: justify;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6,
.title,
.subtitle,
.postcard *, 
.letter *, 
.militaryMail *, 
.telegram *, 
.department * {
    text-align: left;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* CONTENT */

p,
blockquote,
table,
ul,
ol,
dl {
    margin-bottom: 1rem;
    margin-top: 0
}

p:last-child,
ul:last-child,
ol:last-child {
    margin-bottom: 0
}

.black.button {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-right: 0.5rem;
    color: #000;;
}

ol.standard {
    margin: 0 0 0 2rem;
    counter-reset: section;
}

ol.standard, 
ul.standard li {
    position: relative;
    list-style-type: none;
    counter-increment: section;
    padding-left: 0.6rem;
}

ol.standard li,
ul.standard li {
    margin: 0 0 0.8rem 0;
}

ol.standard li:before, 
ul.standard li:before {
    position: absolute;
    left: -0.4rem;
    color: #CD2526;
}

ul.standard li:before {
    content: "▪";
    color: #000;
}

ol.standard li:before {
    content: counters(section,".")".";
    color: #000;
}

ol.standard ol li {
    padding-left: 1rem;
}

ul.standard li.nested:before, 
ol.standard li.nested:before {
    content: "";
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: 700;
    margin-bottom: 0.3rem;
}

.content dd + dt {
    margin-top: 0.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.standard {
    margin-bottom: 3rem;
}

table th, 
table td {
    margin: 0;
    border: none;
    text-align: left;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.grid, .packed {
    page-break-inside: auto;
}

.lined tr,
.lined td {
    border-bottom: 1px solid black;
}

.grid th,
.grid td,
.packed th,
.packed td {
    border: 1px solid black;
    padding: 0.4rem;
}

.packed th,
.packed td {
    line-height: 1;
    padding: 0.2rem 0.4rem;
}

#methodik .packed td:nth-child(1) {
    width: 20%;
}

#methodik .packed td:nth-child(2) {
    width: 38%;
}

#methodik .packed td:nth-child(3) {
    width: 42%;
}

#zeitschrift .packed td:nth-child(1) {
    width: 13%;
}

#zeitschrift .packed td:nth-child(2) {
    width: 30%;
}

#kataloge .packed td:nth-child(3) {
    width: 13%;
}

#kataloge .packed td:nth-child(2) {
    width: 14%;
}

#schriften .packed td:nth-child(1) {
    width: 25%;
}

#schriften .packed td:nth-child(3) {
    width: 13%;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem;
    background: #EFEFEF;
    quotes: "„" "“" "‚" "‘";
}

blockquote .author + .bibl:before {
    display: inline-block;
    content: "/";
    margin: 0 0.5rem 0 0.3rem;
}

q {
    quotes: "„" "“" "‚" "‘";
    font-style: italic;
}

pre {
    border: 4px double black;
    padding: 0 0 0 2rem;
}

.hljs-tag .hljs-name {
    color: #CD2526;
}

/* MAIN */

main {
    padding-bottom: 2rem;
}

/* FOOTER */

footer {
    position: relative;
    border-top: 4px solid black;
}

footer:before {
    display: block;
    content: " ";
    margin: 2px 0 0 0;
    border-top: 2px solid black;
}

.service, .contact {
    margin-top: 1rem;
}

.service {
    float: right;
    width: 48%;
}

.contact {
    float: left;
    width: 48%;
}

footer address {
    font-style: normal;
}

/* SOURCES */

.chronology {
    margin-left: -0.5rem;
    padding-left: 0;
}


.chronology li {
    display: inline-block;
    margin: 0 0 1rem 0.5rem;
}

.chronology li a:hover {
    background: #FFF;
    color: #000;
    outline: 1px solid #000;
}

/* REGISTERS */

.alphabet .letter a {
    text-align: center;
}

.lemmalist li {
    list-style: none;
    margin-bottom: 0.5rem;
}

/* TRANSCRIPTION */

.department p {
    margin-bottom: 0;
}

.department .msidentifier {
    margin-bottom: 1rem;
}

.department + .toolbar {
    margin-bottom: 6rem;
}

.dateline {
    margin: 3rem 0;
}

div.address {
    overflow: auto;
    margin-bottom: 1rem;
}

.address .sender {
    float: left;
    margin-right: 3rem;
}

.address .sender:before {
    content: "[Absender]";
    font-size: 0.8rem !important;
}

.address .recipient {
    float: right;
}

.address .recipient:before {
    content: "[Empfänger]";
    font-size: 0.8rem !important;
}

div.address .addrLine {
    display: block;
}

div.attachment .content .opener {
    overflow:auto;
    margin-top:1rem;
    display:inline-block;
}

.underline {
    border-bottom: 1px solid #000;
}

.twice-underline {
    border-bottom: 3px double #000;
}

.sic:after {
    display: inline-block;
    content: "[sic!]";
    padding: 0 0.5rem;
}

.unclear {
    border-bottom: 1px dotted #000;
    cursor: help;
    font-style: normal;
}

.pb {
    display: block;
    margin: 0 0 1rem 0;
}

.closer .signed {
    display: block;
}

.postscript {
    margin-top: 3rem;
}

.postscript:before {
    content: "[Postscript]";
    display: block;
    margin: 0 0 0.2rem 0;
}

.footnotes {
    position: relative;
    margin: 5em 0 0 0;
    padding: 0 0 0 1rem;
}

.footnotes li:first-child:before {
    position: absolute;
    left: 0;
    top: -1em;
    content: " ";
    width: 30rem;
    height: 10px;
    border-top: 1px solid black;
}

.footnotes li {
    margin: 0 0 1em 0;
}

.footnotes li:before {
    margin-left: 4px;
}

.rights {
    margin-top: 0.5rem;
}

.info {
    margin: 6rem 0 3rem 0;
    border: 1px solid black;
    padding: 2rem 2rem 2rem 2rem;
}

.versions {
    margin-bottom: 5rem;
    padding: 1.5rem;
    background: #EFEFEF;
}

.versions p + p {
    margin-bottom: 0;
}

/* HIDE */

nav,
.toolbar,
.service > h5:first-child,
.service > h5 + ul,
.dfg-viewer,
.footnotes li a[href^="#fn"],
.teaser img,
#map,
#logo,
.imprint, 
.privacy,
.dash {
    display: none;
}